<footer class="footer" *ngIf="todos.length > 0"> 
    <!-- This should be `0 items left` by default -->
    <span class="todo-count"><strong>{{ uncompletedCounter }}</strong> item left</span>
    <!-- Remove this if you don't implement routing -->
    <ul class="filters">
      <li>
        <a [class.selected]="filterCondition==='all'" href="#/" (click)="filterCondition='all'">All</a>
      </li>
      <li>
        <a href="#/active" [class.selected]="filterCondition==='active'" (click)="filterCondition='active'">Active</a>
      </li>
      <li>
        <a href="#/completed" [class.selected]="filterCondition==='completed'" (click)="filterCondition='completed'">Completed</a>
      </li>
    </ul>
    <!-- Hidden if no completed items are left ↓ -->
    <button class="clear-completed" (click)="clearCompletedEmitter()">Clear completed</button>
  </footer>